{% extends 'base.html' %}
{% block content %}
<br/>
<div class="col-md-10">
	
	<ul class="nav nav-tabs">
  <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
  <li><a href="#profile" data-toggle="tab">My selections</a></li>
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active in" id="home">
  <br/>
   <form action="/search/" method="POST">
   {% csrf_token %}
  <div class="form-group">
  <div class="col-md-3">
    <select id="selectbasic" name="selectbasic" class="form-control">
      <option value="all">All</option>
      <option value="Fashion">Fashion</option>
      <option value="Electronics">Electronics</option>
      <option value="Food">Food</option>
      <option value="Travel">Travel</option>
    </select>
  </div>
</div>

<div class="form-group">
   <div class="input-group col-md-6">
    <!--span class="input-group-addon">Search</span-->
    <input type="text" class="form-control" placeholder="search" disabled>
    <span class="input-group-btn">
      <button class="btn btn-default" type="submit" ><i>Search!</i></button>
    </span>
  </div>
</div>
</form>
{% if results %}
	<h4>{{num}} items found</h4>
	<div class="row">
	{% for p in results %}
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
     <img src="{{p.image}}" alt="..." style="min-height:200px;height:200px;">
      <div class="caption">
        <h3>{{p.brand}}</h3>
        <!--h4>{{p.name|truncatewords:3}}</h4-->
        <!--p>{{p.description|truncatewords:10}}-->
        <p> 
        	<a href="#"  id="{{p.pk}}" class="btn btn-success  btn-sm item select">Select</a>
        	<a href="#" id="-{{p.pk}}" class="btn btn-danger  btn-sm item remove">Remove</a>
        	<a href="#" class="btn btn-link">more ..</a>
        	<span class="label label-primary">${{p.price}}</span>
        	</p>
      </div>
    </div>
  </div>
  {% endfor %}
  </div>

{% else %}
	<div class="row">
	{% for p in products %}
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="{{p.image}}" alt="..." style="min-height:200px;height:200px;">
      <div class="caption">
        <h3>{{p.brand}}</h3>
        <!--h4>{{p.name|truncatewords:3}}</h4-->
        <!--p>{{p.description|truncatewords:10}}-->
        <p> 
        	<a href="#"  id="{{p.pk}}" class="btn btn-success  btn-sm item select">Select</a>
        	<a href="#" id="-{{p.pk}}" class="btn btn-danger  btn-sm item remove">Remove</a>
        	<a href="#" class="btn btn-link">more ..</a>
        	<span class="label label-primary">${{p.price}}</span>
        	</p>
      </div>
    </div>
  </div>
  {% endfor %}
  </div>
  {% endif %}
  </div>
  <div class="tab-pane fade" id="profile">
  <br/>
   <p class="text-warning">click <a href="/">here</a> to see new changes</p>
   <br/>
   	<div class="row">
	{% for p in selected %}
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="{{p.product.image}}" alt="...">
      <div class="caption">
        <h3>{{p.product.name}}</h3>
        <p> 
        	<a href="#" id="-{{p.pk}}" class="btn btn-danger  btn-sm item">Remove</a>
        	<a href="#" class="btn btn-link">more ..</a>
        	<span class="label label-primary">${{p.price}}</span>
        	</p>
    </div>
  </div>
  {% endfor %}
  </div>
  </div>


  </div>
</div>

</div>
{% endblock %}